/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #8D6E63;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
   background-color: inherit;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: bisque;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
    width: 100%;
    
    
}

/*home */
#home {
    height: 600px;
    width: 100%;
    background: url("hero-image.webp") no-repeat center center/cover;
}

#about {
    width: 90%;
    margin: 47px;
    text-align: center;

}
/* Footer */
.footer__top-section {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

/*.footer__top-section img {
  width: 100px;
}*/

.footer__top-section>div {
  margin: 8px 0;
  text-align: center;
  width: 48%;
 
}


.contact-form {
    margin-bottom: 0px; /* Adjust spacing between form groups */
    flex-direction: column;
    flex-wrap: wrap;
    width: 48%;
    text-align: left;
    margin-left: 10%;
  }
  
  .contact-form label {
    display: inline-block;/* Display labels as block elements to stack vertically */
    width: 30%; /* Fixed width for label */

    
    
    
  }
  
  .contact-form input[type=text] textarea {
    width: 40%; /* Let the textarea expand to fill available space */
    resize: vertical; /* Allow vertical resizing of the textarea */
    
   
    
    
   
  }
  



/*
input[type=text], select, textarea {
    width: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
/* Media query: tablets and larger (460px to 768px) */
@media screen and (max-width: 600px) {
    /* Header *
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }*/
    main {
      width: 100%;
      
    
    }
    
    

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    /*

    .nav-toggle-label {
        display: none;
    }*/

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    
    /* Ser0vices Section Styles */
    #services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      height: 800px;
      flex-direction: column;
     }
     
     #services div {
      text-align: center;
     }
     
     #services img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
     }
     
     button {
      margin-top: 20px;
      background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      display: block;
      width: 200px;
     }
        /* footer  */
        .footer__top-section {
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          
        
      }

      .footer__top-section>div {
        margin: 8px 0;
        text-align: center;
        width: 100%;
       
      }
  
      .footer__buttom-section p {
          flex: 1 0 auto;
      }

      .contact-form {
        margin-bottom: 0px; /* Adjust spacing between form groups */
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
        margin-left: 10%;
      }

      /*@media screen and (max-width: 768px) {*/
        .contact-form label {
          width: 40%; /* Full width for label on mobile */
          display: inline-block;
        }
      
        .contact-form input[type=text], .contact-form textarea  {
          width: 40%; /* Let the textarea expand to fill available space */
          resize: vertical; /* Allow vertical resizing of the textarea */
          display: inline-block;
          margin: 2% 0;
          padding: 5px 0px;
         
          
          
         
        }

  /*    .contact-mobile > label {
        width: 100%;
      }

      .contact-mobile> input[type=text],
.contact-mobile> textarea {
  width: 35%; /* Let the textarea expand to fill available space 
  resize: vertical; /* Allow vertical resizing of the textarea */
  
  

  

        

    /* Main content 
    main {
        /* Push main content down to accommodate larger header 
        margin-top: 0px;
    }

   
    

   
}

/* Large devices (laptops and desktops, 992px and up) 
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}
    
    
    /* Hero Section Styles */
    .hero {
     position: relative;
     text-align: center;
     width: 100%;
   
    }
    
    /* Overlay Text Styles */
    .overlay-text {
     position: absolute;
    top: 70%;
     left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    }
    
    .overlay-text h2 {
     font-size: 2em;
     margin-bottom: 10px;
    }
    
    .overlay-text button {
    background-color: #6D4C41;
     color: #fff;
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     font-size: 1em;
    }
    
    /* About, Boarding, Nutrition Section Styles */
    section {
     padding: 10px;
    }

 
  }
    
    
    /* Footer Styles
    footer {
     display: flex;
    /* justify-content: space-between;*
     background-color: #8D6E63;
     color: #fff;
     padding: 20px 0px;
    }
    
    /* Media Queries for Responsive Design *
    @media screen and (max-width: 768px) {
    nav ul {
    flex-direction: column;
     align-items: center;
     }
    
     #services {
     flex-direction: column;
     }
    
     #services div {
     margin-bottom: 20px;
     }
    }
    
    /* Tablet Media Query *
    @media screen and (min-width: 769px) and (max-width: 1024px) {
     #services {
     padding: 10px;
     }
    }
    
    /* Desktop Media Query 
    @media screen and (min-width: 1025px) {
     #services {
     padding: 20px;
     }
    }*/

    @media screen and (min-width:600px) and (max-width:768px)  {
      nav{
          display: block;
          position: relative;  /* to put in back inside header*/
          box-shadow: none;
          width: fit-content;  /* So it doesnt take up all the header*/
          padding-right: 1rem;
      }
  
      #menu{
          display: flex; /* puts links in a row */
      }
  
      #menu > li {
          padding-left: 1rem;
      }
  
      .nav-toggle-label {
          display: none;
      }
  

    
    /* Services Section Styles */ #services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      height: 260px;
      flex-direction: row;
     }
     
     #services div {
      text-align: center;
     }
     
     #services img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
     }
     
     button {
      margin-top: 20px;
      background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      display: block;
      width: 200px;
     }
     
     
      .footer__top-section {
        padding: 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      
      }
      
      /*.footer__top-section img {
        width: 100px;
      }*/
      
      .footer__top-section>div {
        margin: 8px 0;
        text-align: center;
        width: 48%;
       
      }
      
      
      .contact-form {
          margin-bottom: 0px; /* Adjust spacing between form groups */
          flex-direction: column;
          flex-wrap: wrap;
          width: 90%;
          text-align: left;
          margin-left: 10%;
          margin-right: 10%;
        }
        
        .contact-form label {
          /* Display labels as block elements to stack vertically */
          width: 30%; /* Fixed width for label */
          padding: 5px 0px;


      
          
          
          
        }
        
        .contact-form input[type=text], .contact-form textarea  {
          width: 40%; /* Let the textarea expand to fill available space */
          resize: vertical; /* Allow vertical resizing of the textarea */
          display: inline-block;
          margin: 2% 0;
         padding: 5px 0px;
        }
        
    /* Overlay Text Styles */
    .overlay-text {
      position: absolute;
     top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     }
     
     .overlay-text h2 {
      font-size: 2em;
      margin-bottom: 10px;
     }
     
     .overlay-text button {
     background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;
     }
      }
         
          
          
         

         @media screen and  (min-width: 992px) {

          
    
    /* Services Section Styles */
    #services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 20px 0px;
      height: 300px;
     }
     
     #services div {
      text-align: center;
     }
     
     #services img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
     }
     
     button {
      margin: 20px;
      background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      display: block;
      width: 200px;
     }
     
     
          .footer__top-section {
            padding: 10px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          
          }
          
          /*.footer__top-section img {
            width: 100px;
          }*/
          
          .footer__top-section>div {
            margin: 8px 0;
            text-align: center;
            width: 48%;
           
          }
          
          
          .contact-form {
              margin-bottom: 0px; /* Adjust spacing between form groups */
              flex-direction: column;
              flex-wrap: wrap;
              width: 90%;
              text-align: left;
              margin-left: 10%;
              margin-right: 10%;
            }
            
            .contact-form label {
              /* Display labels as block elements to stack vertically */
              width: 30%; /* Fixed width for label */
              padding: 5px 0px;
    
    
          
              
              
              
            }
            
            .contact-form input[type=text], .contact-form textarea  {
              width: 40%; /* Let the textarea expand to fill available space */
              resize: vertical; /* Allow vertical resizing of the textarea */
              display: inline-block;
              margin: 2% 0;
             padding: 5px 0px;
             
              
              
             
            }
             
    /* Overlay Text Styles */
    .overlay-text {
      position: absolute;
     top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     }
     
     .overlay-text h2 {
      font-size: 2em;
      margin-bottom: 10px;
     }
     
     .overlay-text button {
     background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;
     }
        }
         
          
          
         
        
  
    