/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

/* Header */
header {
    background-color: #8D6E63;
    /*padding: 0 1rem;*/
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
   background-color: inherit;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: bisque;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
    width: 100%;
    
    
}

/*home */
#hero {
    height: 600px;
    width: 100%;
    background: url("hero.jpg") no-repeat center center/cover;
    position: relative;
}


#about {

  margin: 47px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-right: 25%;
  padding-left: 25%;
  width: 100%;

}
/* Footer */
.footer__top-section {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}


.footer__top-section>div {
  margin: 8px 0;
  text-align: center;
  width: 48%;
 
}



/*Footer*/
#social-networks{
  text-align: center; /*as our icons are basically our font, this will center them */
  padding: 20px 0; /*Add vertical breathing space above and below icons */
  display: flex; /*space our icons evenly along the footer */
  justify-content: space-evenly;
  list-style-type: none; /*gets rid of bullets beside icons */
}

/* Font Awesom uses i class for icons so we need to style the icons so we target the i's that are direct desendants of the social-networks */

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;

}

.contact-form {
    margin-bottom: 0px; /* Adjust spacing between form groups */
    flex-direction: column;
    flex-wrap: wrap;
    width: 48%;
    text-align: left;
    margin-left: 10%;
  }
  
  .contact-form label {
    display: inline-block;/* Display labels as block elements to stack vertically */
    width: 30%; /* Fixed width for label */

  }
  
  .contact-form input[type=text] textarea {
    width: 40%; /* Let the textarea expand to fill available space */
    resize: vertical; /* Allow vertical resizing of the textarea */
    
  }

  

  table#opening-hours {
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
    
  }

  #hours {
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
  }
  
  


@media screen and (max-width: 600px) {
    /* Header */
   
    header {
      padding: 0 1rem;
      justify-content: space-around;
    }
 
    
    main {
      background-color: bisque;
      /* Make main element take up any surplus space to push footer down */
      
      margin-top: 40px;
      width: 100%;
      
      
  }

    nav {
      position: absolute; /*Absolute positioning takes an element outside the normal
      flow of the page structure.
      It is positioned relative to the nearest positioned ancestor
      in our case, the header.*/
  
      background-color: #ffffff;
      width: 100%;
      left: 0;
      padding: 0 10rem;
      box-shadow: 0 2px 2px #3a3a3a;
      display: none;
      top: 100%; /*the top of the element should start at the bottom of its parent */
  }
  
  /*Nav toggle */
  
  /* ~ indicates we want to target the adjoining element */
  
  #nav-toggle:checked~nav {
      display: flex;
  }
  
  /*remove checkbox*/
  #nav-toggle{ 
      display: none;
  }
  
  .nav-toggle-label{
      font-size: 2rem;
      
  }
  
    #menu {
       
        padding-right: 20px;
    }

    #menu > li {
        padding-left: 1rem;
    }
   
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Hero Section Styles */
    #hero {
     position: relative;
     text-align: center;
     width: 100%;
     margin: 0;

     height: 600px;
     background: url("hero.jpg") no-repeat center center/cover;
   
    }
    
    /* Overlay Text Styles */
    .overlay-text {
     position: absolute;
    top: 70%;
     left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    }
    
    .overlay-text h2 {
     font-size: 2em;
     margin-bottom: 10px;
    }
    
    .overlay-text button {
    background-color: #6D4C41;
     color: #fff;
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     font-size: 1em;
    }
    
    /* About, Boarding, Nutrition Section Styles */
    
    #about {

      margin: 47px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-right: 25%;
      padding-left: 25%;
      width: 100%;
  
  }
      /* Services Section Styles */
      #services {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 25%;
        padding-right: 25%;
        width: 100%;
        flex-direction: column;
       }
       
       #services div {
        text-align: center;
       }
       
       #services img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
       }
       
       button {
        margin-top: 20px;
        background-color: #6D4C41;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        display: block;
        width: 200px;
        margin-bottom: 10px;
        
       }
          /* footer  */
          .footer__top-section {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            
          
        }
  
        .footer__top-section>div {
          margin: 8px 0;
          text-align: center;
          width: 100%;
         
        }
    
        .footer__buttom-section p {
            flex: 1 0 auto;
        }
  
        .contact-form {
          margin-bottom: 0px; /* Adjust spacing between form groups */
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
          text-align: left;
          margin-left: 10%;
        }
  
        /*@media screen and (max-width: 768px) {*/
          .contact-form label {
            width: 40%; /* Full width for label on mobile */
            display: inline-block;
          }
        
          .contact-form input[type=text], .contact-form textarea  {
            width: 40%; /* Let the textarea expand to fill available space */
            resize: vertical; /* Allow vertical resizing of the textarea */
            display: inline-block;
            margin: 2% 0;
            padding: 5px 0px;
           
          }
  }
 
    
    


    @media screen and (min-width:600px) /*and (max-width:768px)*/  {

      header {
        padding: 0 1rem;
        justify-content: space-around;
      }
      nav{
          display: block;
          position: relative;  /* to put in back inside header*/
          box-shadow: none;
          width: fit-content;  /* So it doesnt take up all the header*/
          /*padding-right: 2rem;*/
      }
  
      #menu{
          display: flex; /* puts links in a row */
      }
  
      #menu > li {
          padding-left: 1rem;
      }
  
      .nav-toggle-label {
          display: none;
      }
  

    
    /* Services Section Styles */ 
    #services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      height: 260px;
      flex-direction: row;
     }

    
     
     #services div {
      text-align: center;
     }
     
     #services img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
     }
     
     button {
      margin-top: 20px;
      background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      display: block;
      width: 200px;
     }
     
     
      .footer__top-section {
        padding: 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      
      }
      

      .footer__top-section>div {
        margin: 8px 0;
        text-align: center;
        width: 48%;
       
      }
      
      
      .contact-form {
          margin-bottom: 0px; /* Adjust spacing between form groups */
          flex-direction: column;
          flex-wrap: wrap;
          width: 90%;
          text-align: left;
          margin-left: 10%;
          margin-right: 10%;
        }
        
        .contact-form label {
          /* Display labels as block elements to stack vertically */
          width: 30%; /* Fixed width for label */
          padding: 5px 0px;

        }
        
        .contact-form input[type=text], .contact-form textarea  {
          width: 40%; /* Let the textarea expand to fill available space */
          resize: vertical; /* Allow vertical resizing of the textarea */
          display: inline-block;
          margin: 2% 0;
         padding: 5px 0px;
        }
        
    /* Overlay Text Styles */
    .overlay-text {
      position: absolute;
     top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     }
     
     .overlay-text h2 {
      font-size: 2em;
      margin-bottom: 10px;
     }
     
     .overlay-text button {
     background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;
     }
      }

      @media screen and (min-width:768px)  {

        header {
          padding: 0 1rem;
          justify-content: space-around;
          width: 100%;
        }
        nav{
            display: block;
            position: relative;  /* to put in back inside header*/
            box-shadow: none;
            width: 100%;  /* So it doesnt take up all the header*/
            padding-right: 2rem;
        }
    
        #menu{
            display: flex; /* puts links in a row */
        }
    
        #menu > li {
            padding-left: 1rem;
        }
    
        .nav-toggle-label {
            display: none;
        }
    
  
      
      /* Services Section Styles */ 
      #services {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        flex-direction: row;
       }
       
       #services div {
        text-align: center;
       }
       
       #services img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        
       }
       
       button {
        margin-top: 20px;
        background-color: #6D4C41;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        display: block;
        width: 150px;
       }
       
       
        .footer__top-section {
          padding: 10px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        
        }
        
  
        .footer__top-section>div {
          margin: 8px 0;
          text-align: center;
          width: 48%;
         
        }
        
        
        .contact-form {
            margin-bottom: 0px; /* Adjust spacing between form groups */
            flex-direction: column;
            flex-wrap: wrap;
            width: 90%;
            text-align: left;
            margin-left: 10%;
            margin-right: 10%;
          }
          
          .contact-form label {
            /* Display labels as block elements to stack vertically */
            width: 30%; /* Fixed width for label */
            padding: 5px 0px;
  
          }
          
          .contact-form input[type=text], .contact-form textarea  {
            width: 40%; /* Let the textarea expand to fill available space */
            resize: vertical; /* Allow vertical resizing of the textarea */
            display: inline-block;
            margin: 2% 0;
           padding: 5px 0px;
          }
          
      /* Overlay Text Styles */
      .overlay-text {
        position: absolute;
       top: 50%;
        left: 50%;
       transform: translate(-50%, -50%);
       color: #fff;
       }
       
       .overlay-text h2 {
        font-size: 2em;
        margin-bottom: 10px;
       }
       
       .overlay-text button {
       background-color: #6D4C41;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 1em;
       }
        }
         
          
         @media screen and  (min-width: 992px) {
          header {
            padding: 0 1rem;
            justify-content: space-around;
          }

          nav{
            display: block;
            position: relative;  /* to put in back inside header*/
            box-shadow: none;
            width: fit-content;  /* So it doesnt take up all the header*/
            padding-right: 1rem;
        }
    
        #menu{
            display: flex; /* puts links in a row */
        }
    
        #menu > li {
            padding-left: 1rem;
        }
    
        .nav-toggle-label {
            display: none;
        }
    
    /* Services Section Styles */
    #services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 20px 0px;
      height: 300px;
     }
     
     #services div {
      text-align: center;
     }
     
     #services img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
     }
     
     button {
      margin: 20px;
      background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      display: block;
      width: 200px;
     }
     
     
          .footer__top-section {
            padding: 10px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          
          }
          

          
          .footer__top-section>div {
            margin: 8px 0;
            text-align: center;
            width: 48%;
           
          }
          
          
          .contact-form {
              margin-bottom: 0px; /* Adjust spacing between form groups */
              flex-direction: column;
              flex-wrap: wrap;
              width: 90%;
              text-align: left;
              margin-left: 10%;
              margin-right: 10%;
            }
            
            .contact-form label {
              /* Display labels as block elements to stack vertically */
              width: 30%; /* Fixed width for label */
              padding: 5px 0px;
    
    
          
              
              
              
            }
            
            .contact-form input[type=text], .contact-form textarea  {
              width: 40%; /* Let the textarea expand to fill available space */
              resize: vertical; /* Allow vertical resizing of the textarea */
              display: inline-block;
              margin: 2% 0;
             padding: 5px 0px;
             
              
              
             
            }
             
    /* Overlay Text Styles */
    .overlay-text {
      position: absolute;
     top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     }
     
     .overlay-text h2 {
      font-size: 2em;
      margin-bottom: 10px;
     }
     
     .overlay-text button {
     background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;
     }
        }
         

        @media screen and  (min-width: 1480px) {
          header {
            padding: 0 1rem;
            justify-content: space-around;
          }

          nav{
            display: block;
            position: relative;  /* to put in back inside header*/
            box-shadow: none;
            width: fit-content;  /* So it doesnt take up all the header*/
            padding-right: 1rem;
        }
    
        #menu{
            display: flex; /* puts links in a row */
        }
    
        #menu > li {
            padding-left: 1rem;
        }
    
        .nav-toggle-label {
            display: none;
        }
    
    /* Services Section Styles */
    #services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 20px 0px;
      height: 300px;
     }
     
     #services div {
      text-align: center;
     }
     
     #services img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
     }
     
     button {
      margin: 20px;
      background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      display: block;
      width: 200px;
     }
     
     
          .footer__top-section {
            padding: 10px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          
          }
          

          
          .footer__top-section>div {
            margin: 8px 0;
            text-align: center;
            width: 48%;
           
          }
          
          
          .contact-form {
              margin-bottom: 0px; /* Adjust spacing between form groups */
              flex-direction: column;
              flex-wrap: wrap;
              width: 90%;
              text-align: left;
              margin-left: 10%;
              margin-right: 10%;
            }
            
            .contact-form label {
              /* Display labels as block elements to stack vertically */
              width: 30%; /* Fixed width for label */
              padding: 5px 0px;
    
    
          
              
              
              
            }
            
            .contact-form input[type=text], .contact-form textarea  {
              width: 40%; /* Let the textarea expand to fill available space */
              resize: vertical; /* Allow vertical resizing of the textarea */
              display: inline-block;
              margin: 2% 0;
             padding: 5px 0px;
             
              
              
             
            }
             
    /* Overlay Text Styles */
    .overlay-text {
      position: absolute;
     top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     }
     
     .overlay-text h2 {
      font-size: 2em;
      margin-bottom: 10px;
     }
     
     .overlay-text button {
     background-color: #6D4C41;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;
     }
        }
         
          
          
         
        
  
    