/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

html,
body {
  overflow-x: hidden;
}

/* Asterisk wildcard selector to override default styles added by the browser, this code was taken from the love running project */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Oswald", sans-serif;
  width: 100%;
}

/* Header */
header {
  background-color: #8d6e63;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}


    /*Logo*/
    #logo {
      font-size: 280%;
      line-height: 75px;
      margin: 0 0.5rem; 
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
  color: black;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* About Section */
#about {
  margin: 47px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
  width: 100%;
}

/*Services */


#services > .grooming,
.boarding,
.nutrition {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

section > h2 {
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 10px;
  font-size: x-large;
}


#cover-text {
  background-color: rgba(141,110,99, .7);
  font-size: 130%;
  position: absolute;
color: black;
  min-height: 200px;
  padding-top: 40px;
  margin: 0;
  left: 10%;
}


#cover-text > h2, #cover-text > h3 {
  color: #ffffff;
}

/*grooming*/
#grooming {
  bottom: 2%;
  min-height: 200px;
  padding-top: 50px;
  padding-left: 10px;
 width: 100%;
  height: 800px;
position: relative;
  background: url("../images/grooming-background-image.webp") no-repeat center center/cover;
}

#grooming-treatments li  {
  width: 60%;
  text-align: justify;
  padding: 10px 0px;
  margin-left: 10%;
  font-weight: bold;
}


article > h2 {
  font-weight: bolder;
  text-align: center;
  display: block;
  padding: 5%;
  font-size: x-large;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


#grooming > div {
  width: 48%;
  text-align: center;
}


/* Boarding */
#boarding {
  bottom: 2%;

  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
 width: 100%;
  height: 800px;
position: relative;
  background: url("../images/boarding-page-background.webp") no-repeat center center/cover;
}

  #boarding-options li {
  width: auto;
  text-align: justify;
  padding: 10px 0px;
  margin-left: 10%;
  font-weight: bold;
}


/*Nutrition*/

#nutrition {
  bottom: 2%;

  min-height: 200px;
  padding-top: 0px;
  padding-left: 10px;
 width: 100%;
  height: 800px;
position: relative;
  background: url("../images/nutrition-page-background.webp") no-repeat center center/cover;
}

#nutrition-advice li {
  width: 100%;
  text-align: justify;
  padding: 10px 0px;
  margin-left: 20%;
  font-weight: bold;
}

/* Footer */
.footer-section {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-section > div {
  margin: 8px 0;
  text-align: center;
  width: 48%;
}

/*Soclal Networks*/
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  flex-direction: row;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/*Contact Form*/
.contact-form {
  margin-bottom: 0px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 48%;
  text-align: left;
  margin-left: 10%;
}

.contact-form label {
  display: inline-block;
  width: 30%;

}

.contact-form input[type="text"] textarea {
  width: 40%;
  resize: vertical;
 
}

table#opening-hours {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#hours {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/***** Media Queries *****/

@media only screen and (max-width: 600px) {
 
  /* Header */

  header {
    padding: 0 1rem;
    justify-content: space-around;
  }

  /*Nav Bar */
  nav {
    position: absolute;
    background-color: #8d6e63;
    width: 100%;
    left: 0;
    padding: 5px;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    font-weight: bold;
  }

  #nav-toggle:checked ~ nav {
    display: flex;
  }

  /*remove checkbox taken from the love running project*/
  #nav-toggle {
    display: none;
  }

  /*nav toggle taken from the love running project*/
  .nav-toggle-label {
    font-size: 2rem;
  }

  /*Nav Menu*/
  #menu {
    padding-right: 20px;
  }

  #menu > li {
    padding-left: 1rem;
  }

  /*Logo*/
  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Hero Section Styles */
  #hero {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    padding:0;
    height: 600px;
    background: url("../images/hero.webp") no-repeat center center/cover;
  }

  

  /* Overlay Text Styles */
  .overlay-text {
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 0 10px;
    background-color: rgb(141,110,99,0.6);
    display: flex;
    flex-direction: column;
width: 50%;
    height: 30%;
   border-radius: 15%;
   align-items: center;
   justify-content: center;
  }

  .overlay-text h2 {
    font-size: 2em;
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color:black;
    width: 100%;
  }

  .overlay-text>button {
    background-color: #6d4c41;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: auto;
  
  }

    /*Main*/
    main {
      background-color: bisque;
      margin-top: 40px;
      width: 100%;
    }
 
  /* Services Section Styles */
  #services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    flex-direction: column;
  }

  #services div {
    text-align: center;
  }

  #services img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  button {
    margin-top: 20px;
    background-color: #6d4c41;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 200px;
    margin-bottom: 40px;
  }

  /* grooming  */

  #grooming {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #grooming > div {
    width: 80%;
    text-align: center;
    padding:40px;
    border-radius: 15%;
    left: 30px;
  
  }
    #grooming-treatments li {
      width: 80%;
      text-align: justify;
      padding: 10px 0px;
      margin-left: 0%;
      font-weight: bold;
    }

  /*Boarding */
  #boarding {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


#boarding > div {
  width: 80%;
  text-align: center;
  padding:40px;
  border-radius: 15%;
  left: 30px;

}
  #boarding-options li {
    width: 80%;
    text-align: justify;
    padding: 10px 0px;
    margin-left: 0%;
    font-weight: bold;
  }

  /*Nutrition */
  #nutrition {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #nutrition > div {
    width: 80%;
    text-align: center;
    padding:40px;
    border-radius: 15%;
    left: 30px;
    top: 10%;
  
  }

  #nutrition-advice li {
    width: 100%;
    text-align: justify;
    padding: 10px 0px;
    margin-left: 0%;
    font-weight: bold;
  }

  article {
    padding: 10px 0px;
  }

  /* footer  */
  .footer-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .footer-section > div {
    margin: 8px 0;
    text-align: center;
    width: 100%;
  }

  .footer__buttom-section p {
    flex: 1 0 auto;
  }

  .contact-form {
    margin-bottom: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
  }


  /*Contact Form */
  .contact-form label {
    width: 40%;
    display: inline-block;
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 40%;
    resize: vertical;
    display: inline-block;
    margin: 2% 0;
    padding: 5px 0px;
  }
}

@media only screen and (min-width: 600px) {

  /*Header */

  header {
    padding: 0 1rem;
    justify-content: space-around;
  }

  /*Nav Menu */
  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }


  /*Nav*/
nav {
    position: absolute;
    background-color: #8d6e63;
    width: 100%;
    left: 0;
    padding: 5px;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    font-weight: bold;
  }

  #nav-toggle:checked ~ nav {
    display: flex;
  }

  #nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    font-size: 2rem;
  }

    /*Hero*/
    #hero {
      position: relative;
      text-align: center;
      width: 100%;
      margin: 0;
      padding:0;
      height: 600px;
      background: url("../images/hero.webp") no-repeat center center/cover;
    }
  

  
  /* Overlay Text Styles */
  .overlay-text {
    position: absolute;
    top: 31%;
    left: 47%;
    transform: translate(-50%, -20%);
    padding: 0 10px;
    background-color: rgb(141,110,99,0.6);
    display: flex;
    flex-direction: column;
width: 30%;
    height: 30%;
   border-radius: 15%;
   align-items: center;
   justify-content: center;
  }

  .overlay-text h2 {
    font-size: 2em;
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color:black;
    width: 100%;
    margin: auto;
  }

  .overlay-text>button {
    background-color: #6d4c41;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
  }

  
    /*Main*/
    main {
      background-color: bisque;
      margin-top: 40px;
      width: 100%;
    }

  /*Services*/
  #services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    flex-direction: column;
  }

  #services div {
    text-align: center;
  }

  #services img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  button {
    margin-top: 20px;
    background-color: #6d4c41;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 200px;
    margin-bottom: 40px;
  }

  /*Footer*/
  .footer-section {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .footer-section > div {
    margin: 8px 0;
    text-align: center;
    width: 48%;
  }

  /*Form*/
  .contact-form {
    margin-bottom: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
  }

  .contact-form label {
    width: 30%;
    padding: 5px 0px;
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 40%;
    resize: vertical;
    display: inline-block;
    margin: 2% 0;
    padding: 5px 0px;
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  /* Header */
  header {
    padding: 0 1rem;
    justify-content: space-around;
    width: 100%;
  }

  /*Nav*/
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: 100%;
    padding: 0 0 0 5rem;
  }

  /* Navbar styles  */

  #nav-toggle {
    display: none;
  }
 
  /* Nav Menu*/
  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  /*Hero */
  #hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat center center/cover;
    position: relative;
    margin: 0;
    padding:0;
   
  }

  .overlay-text {
    position: absolute;
    top: 45%;
    left: 47%;
    padding: 0 10px;
    background-color: rgb(141,110,99,0.6);
    display: flex;
    flex-direction: column;
width: 30%;
    height: 25%;
   border-radius: 15%;
   align-items: center;
   justify-content: center;
  }

  .overlay-text h2 {
    font-size: 2em;
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color:black;
    width: auto;
    margin:auto ;
  }

  .overlay-text>button {
    background-color: #6d4c41;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  
  }
  /*Main*/
  main {
    background-color: bisque;
    flex: 1;
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
  }

  /* Services Section Styles */
  
  #services > .grooming,
  .boarding,
  .nutrition {
    display: flex;
    padding: 0 20px;
  
  }

  #services {
    display: flex;
    flex-direction: row;
    
  }

  #services img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  button {
    margin: 20px;
    background-color: #6d4c41;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 180px;
  }

  /*Grooming*/
  #grooming {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
  }

  #grooming > div {
    width: 50%;
    text-align: center;
    padding:10px;
    border-radius: 15%;
    left: 5%;
  
  }

  /*Boarding*/
  #boarding {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
  }

  #boarding > div {
    width: 50%;
    text-align: center;
    padding:10px;
    border-radius: 15%;
  
  }

  /*Nutrition*/

  #nutrition {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
  }

  #nutrition > div {
    width: 50%;
    text-align: center;
    padding:10px;
    border-radius: 15%;
  
  }
  /*Footer*/
  .footer-section {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .footer-section > #company-info {
    margin: 8px 0;
    text-align: left;
    width: 45%;
  }

  /*Form*/
  .contact-form {
    margin-bottom: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-form label {
    width: 30%;
    padding: 5px 0px;
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 40%;
    resize: vertical;
    display: inline-block;
    margin: 2% 0;
    padding: 1px;
  }
}

/*Laptop Screen*/
@media only screen  and (min-width: 992px) {
  /*Header*/
  header {
    padding: 0 1rem;
    justify-content: space-around;
  }

  /*Nav*/
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  /*Nav Menu*/
  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  /* hero*/
  #hero {
    background: url("../images/hero.webp") no-repeat center center/cover;
    height: 90vh;
    width: 100%;
    margin: 0;
    padding:0;
  }


  .overlay-text {
    position: absolute;
    top: 45%;
    left: 47%;
    transform: translate(-50%, -20%);
    padding: 0 10px;
    background-color: rgb(141,110,99,0.6);
    display: flex;
    flex-direction: column;
width: 30%;
    height: 32%;
   border-radius: 15%;
   align-items: center;
   justify-content: center;
   margin: auto 0px 0px 0px;
  }

  .overlay-text h2 {
    font-size: 2.5em;
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color:black;
    width: auto;
    margin: auto;
  }

  .overlay-text>button {
    background-color: #6d4c41;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
  
  }

 
  /*Main*/
  main {
    background-color: bisque;
    /* Make main element take up any surplus space to push footer down */
    flex: 1;
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
  }

  /* Services Section Styles */
  #services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px 0px;
    height: 300px;
  }

  #services div {
    text-align: center;
  }

  #services img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  button {
    margin: 20px;
    background-color: #6d4c41;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 190px;
  }

  /* grooming */
  #grooming {
    height: 650px;
  }
  #grooming article h2 {
    vertical-align: top;
    padding: 0;
    margin: 0;
  }

  #grooming > div {
    width: 30%;
    text-align: center;
    padding:10px;
    border-radius: 15%
  } 

  /*Boarding*/
  #boarding article h2 {
    vertical-align: top;
    padding: 0;
    margin: 0;
  }

  #boarding > div {
    width: 30%;
    text-align: center;
    padding:10px;
    border-radius: 15%
  }
  

  /*Nutrition*/
  #nutrition article h2 {
    vertical-align: top;
    padding: 0;
    margin: 0;
  }

  #nutrition > div {
    width: 30%;
    text-align: center;
    padding:10px;
    border-radius: 15%
  }

  #nutrition article h2 {
    vertical-align: top;
    padding: 0;
    margin: 0;
  }

  /*Form*/
  .contact-form {
    margin-bottom: 0px;
 
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-left: 0%;
    margin-right: 10%;
    display: block;
  }

  .contact-form label {
    width: 20%;
    padding: 0px 0px;
    vertical-align: top;
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 60%;
    resize: vertical;
    display: inline-block;
    margin: 1% 0;
    padding: 2px 0px 0px 5px;
  }
}

/*Desktop Screens*/
@media only screen and (min-width:1200px)
{
  /*Hero*/
  .overlay-text {
    position: absolute;
    top: 45%;
    left: 47%;
    transform: translate(-50%, -20%);
    padding: 0 10px;
    background-color: rgb(141,110,99,0.6);
    display: flex;
    flex-direction: column;
width: 30%;
    height: 50%;
   border-radius: 15%;
   align-items: center;
   justify-content: center;
  }

  .overlay-text h2 {
    font-size: 2.5em;
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    color:black;
    width: auto;
    margin: auto 0px 0px 0px;
  }

  .overlay-text>button {
    background-color: #6d4c41;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;

  }
}

/*Larger Screens*/
@media screen and (min-width: 1440px) {

  /*Header*/
  header {
    padding: 0 1rem;
    justify-content: space-around;
  }

  /*Nav*/
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  /*Nav Menu*/
  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

   /*Hero*/
   #hero {
    background: url("../images/hero.webp") no-repeat center/cover;
    height: 90vh;
    width: 100%;
    margin: 0;
    padding:0;
  }

  .overlay-text {
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-50%, -20%);
    padding: 0 10px;
    background-color: rgb(141,110,99,0.6);
    width: 20%;
    height: 32%;
   border-radius: 15%;
  }

  /* Services Section Styles */
  #services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px 0px;
    height: 300px;
  }

  #services div {
    text-align: center;
  }

  #services img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  button {
    margin: 20px;
    background-color: #6d4c41;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 200px;
  }

  /*Grooming */
  #grooming {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
    vertical-align: top;
    background: url("../images/grooming-background-image.webp") no-repeat center center/cover;
  
  }
  
    /*Boarding*/

  #boarding {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
    vertical-align: top;
    background: url("../images/boarding-page-background.webp") no-repeat center center/cover;
   
  }

 
  /*Nutrition */

  #nutrition {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
    vertical-align: top;
    background: url("../images/nutrition-page-background.webp") no-repeat center center/cover;
  }

 
  /*footer*/
  .footer-section {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .footer-section > div {
    margin: 8px 0;
    text-align: center;
    width: 48%;
  }
/*Form*/
  .contact-form {
    margin-bottom: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-form label {
    width: 30%;
    padding: 5px 0px;
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 40%;
    resize: vertical;
    display: inline-block;
    margin: 2% 0;
    padding: 5px 0px;
  }
}
